@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Farver */
    --vista-white-50: #ffeff1;
    --cerise-red-600: #ff1054;
    --pine-green-700: #007c79;
    --pine-green-800: #066968;
    --wood-smoke-700: #4f4f4f;
    --wood-smoke-950: #1a1a1a;
  }
}

/* Font */
@font-face {
  font-family: "oliver";
  src: url("/font/oliver-regular-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "campton-xb";
  src: url("/font/camptonextrabold-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "campton-sb";
  src: url("/font/camptonsemibold-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "tiempos";
  src: url("/font/test-tiempos-text-medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "tiempos-italic";
  src: url("/font/test-tiempos-text-medium-italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}
