---

import { Image } from 'astro:assets';
import lidl from "../assets/images/lidl.webp"
import amc from "../assets/images/amc.webp"
import ricoh from "../assets/images/ricoh.webp"
import rema from "../assets/images/rema.webp"
import lastobject from "../assets/images/lastobject.webp"
import hjemhavn from "../assets/images/hjemhavn.webp"
import friluft from "../assets/images/friluftsland.webp"
import ironpump from "../assets/images/ironpump.webp"
import blackcotton from "../assets/images/blackcotton.webp"
import araven from "../assets/images/araven.webp"
import myphoner from "../assets/images/myphoner.svg"
---



<div class="rullende_brands">
    <div class="brands">
        <a href="https://brandts.dk/" target="_blank"><img src="/banner/brandts_kunsthal.svg" alt="Kunst Museum Brandts' logo"></a>
        <a href="https://stilling.dk/" target="_blank"><img src="/banner/stilling.svg" alt="Stilling's logo"></a>
        <a href="https://copenhagenphotofestival.com/" target="_blank"><img src="/banner/cph.svg" alt="Copenhagen Photo Festival's logo"></a>
        <a href="https://natmus.dk/museer-og-slotte/nationalmuseet/" target="_blank"><img src="/banner/n.svg" alt="Nationalmuseet's logo/"></a>
        <a href="https://glyptoteket.dk/" target="_blank"><img src="/banner/glyptoteket.svg" alt="Glyptoteket's logo"></a>
    </div>
</div>

<style>
.rullende_brands {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
  z-index: 3;
  opacity: 1;
  padding: 20px 0; 
   border-top: 5px dashed var(--blue);
  border-bottom: 5px dashed var(--blue);
}

.brands {
    display: flex;
     align-items: center;
     gap: 55px;
     width: 200%;
     height: auto;
  animation: scroll 24s linear infinite;
  left: -100%; /* Start fra højre side af containeren */
  opacity: 1;
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}



@media (min-width: 800px) {
      /******* Rullende text ************/
.rullende_brands {
  border-top: 10px dashed var(--blue);
  border-bottom: 10px dashed var(--blue);
  background-color: var(--grey);
}

.brands {
     gap: 150px;
    width: 100%;
    height: auto;
}

}
</style>