---
// Henter parametrene fra Astro.props
const { variant= "primary", size = "medium" } = Astro.props; 

//Definer den styling (Tailwind classes, der gør sig gældende for alle knapper
const buttonStyling = "rounded-[100%] duration-500"; 

 
//Definer den styling (Tailwind classes), der gør sig gældende for de forskellige varianter
const variantClasses = {
// Resten af knapperne
"primary": "bg-sort text-pink-600 border-pink-600 hover:bg-pink-600 hover:text-white",
// Ved bidrag
"secondary": "bg-pink-500 text-white border-pink-500 hover:bg-pink-800 hover:text-white hover:border-pink-800"
};

 
//Definer den styling (Tailwind classes), der gør sig gældende for de forskellige og størrelser.
const sizeClasses = {
"large": "px-12 py-6 text-lg",
"medium": "px-10 py-4 text-base",
"small": "px-8 py-2 text-sm"
};
---

<!--Sæt classes for den pågældende knap sammen ved hjælp af Astros class:list -->
<button class:list={[buttonStyling, variantClasses[variant], sizeClasses[size]]}><slot /></button>

<!-- <div>
    <button class="rounded-md px-8 py-2 bg-white text-pink-600 border-2 border-pink-600 hover:bg-pink-600 hover:text-white"><slot /></button>
</div> -->
<!-- animate-bounce  -->