---
---
<section class="bg-sort950 h-[10%]" id="footer">

<div class="relative right-0 left-0 p-1 text-center">This will always appear at the bottom of the page, but <strong>not fixed</strong>.</div>
</section>
  