---
import Button from "./Button.astro"
import Link from "./Link.astro"
---

<section 
id="hvadkandu"
class="h-screen bg-turq700 ">

<div class="mx-10">


<h1 class="text-hvid font-[campton-xb] text-center text-6xl pt-20">HVAD KAN DU GØRE</h1>
<p class="font-[tiempos] text-center text-hvid">Din indsats betyder noget. 
    Ved at støtte plastikreducerende initiativer 
    og tage små skridt i <br> hverdagen  kan vi sammen mindske plastforureningens skadelige konsekvenser for miljøet.</p>


<div class="img-container absolute left-0 md:top-52">
<img src="svg/hvadkandu/pose-hvid.svg" alt="Hvid plastikpose" class="w-1/2 md:w-full">
</div>



<div class="img-container absolute right-0 top-28 md:top-[-10%] ">
<img src="svg/hvadkandu/pose-sort.svg" alt="Hvid plastikpose" class="">
</div>

<article
class="flex flex-col md:flex-row">

<div 
class="flex flex-col">

<div class="flex flex-row">
<h1 class="font-[tiempos] text-8xl text-hvid">1</h1>
<img src="svg/hvadkandu/cup.svg" alt="Plastik" class="w-1/3 mt-[-2rem] md:w-full">
</div>

<div class="tekst">
<p></p>
</div>

</div>

<div>
<img src="svg/hvadkandu/cup2.svg" alt="Plastik">
</div>

<div class="">
<img src="svg/hvadkandu/cup3.svg" alt="Plastik">
</div>

</article>

</div>
</section>

<style>

  
   
</style>