---
import { Image } from 'astro:assets';
import beach from "../assets/images/beachbgemily.jpg"
---

<section class="h-fit bg-[url('../assets/images/beachbgemily.jpg')]">
    <p> VIDEO HEEERRR</p>
   
   
</section>

