---
import Button from "./Button.astro"
---
<section class="h-4/6" id="nyhedsbrev">
    <div class="flex justify-center items-center">
    <form action="#" method="post" class="absolute z-20">
        <label for="email">Email</label>

        <div class="flex gap-2">
        <input type="email" id="email" name="email" placeholder="Skriv din mail her" class="rounded-lg h-[60px]"></input>
        <Button variant="primary" size="large"> <input type="submit" value="Send"></Button>
        </div>
    </form>

     <div class="w-full h-[500px] overflow-clip">
    <video class="rotate-180" autoPlay muted loop>
      <source src="/src/assets/images/nyhedsbrev_video.mp4" type="video/mp4" />
      Your browser does not support the video tag.
    </video>
    </div>
    </div>
</section>