---

---
<section class="h-screen" id="nyhedsbrev">
     <video class="h-full w-full rounded-lg" controls>
      <source
        src="../assets/images/nyhedsbrev_video.webm"
        type="video/webm"
      />
      Your browser does not support the video tag.
    </video>
   
</section>