---
import { Image } from 'astro:assets';
import apoteket from "../assets/images/apoteket.jpg";
---

<section class="h-lvh lg:h-screen bg-turq700" >
    <div class="flex justify-center">
<h2 class="font-[campton-xb] text-hvid text-5xl lg:text-7xl lg:mt-16">PLASTIK&shy;FORUENING</h2>
</div>
<div class="font-[tiempos] text-hvid lg:text-lg">
<p>Plastik er blevet en uundgåelig del af vores hverdag, især fordi det er et billigt materiale. Brugen af engangsplastik er steget kraftigt, men dette har alvorlige konsekvenser for klimaet og miljøet.</p>
<p>Størstedelen af plastikken fremstilles af fossile brændstoffer og nedbrydes meget langsomt. I mange lande er affaldshåndteringen utilstrækkelig, hvilket betyder, at store mængder plastik ender i naturen. En betydelig del af dette plastik havner i havet, hvor det skader dyrelivet, forstyrrer økosystemerne og bliver til mikroplast, som vi i stigende grad finder i vores fødevarer, drikkevand og luften, vi indånder.</p>
<p>Plastikforureningen er et voksende problem, og mange steder mangler der både viden, ressourcer og systemer til at bekæmpe det effektivt.</p>
</div>

<div class="font-[oliver] text-hvid lg:text-lg">
    <p>Plastik kan skade dyrene på mange måder.<br> De kan fx skære sig, sidde fast eller blive kvalt.</p>
</div>
</section>