---
import { Image } from 'astro:assets';
import apoteket from "../assets/images/apoteket.jpg";
---

<section class="h-screen bg-hvid" >
<h2 class="font-[campton-xb] text-sort950 text-7xl">PROBLEMET</h2>
<h3 class="font-[tiempos] text-sort950 text-3xl">Plastikforurening er skadeligt af flere grunde.</h3>
<div>
    <div class="">
        <h4 class="font-[campton-xb] text-sort950 text-xl">Skader på dyrelivet</h4>
        <p class="font-[tiempos] text-sort950 text-lg">Plastik er blevet en uundgåelig del af vores hverdag, især fordi det er et billigt materiale. Brugen af engangsplastik er steget kraftigt, men dette har alvorlige konsekvenser for klimaet og miljøet.</p>
    </div>

    <div class="">
        <h4 class="font-[campton-xb] text-sort950 text-xl">Forstyrrelse af økosystemer</h4>
        <p class="font-[tiempos] text-sort950 text-lg">Størstedelen af plastikken fremstilles af fossile brændstoffer og nedbrydes meget langsomt. I mange lande er affaldshåndteringen utilstrækkelig, hvilket betyder, at store mængder plastik ender i naturen. En betydelig del af dette plastik havner i havet, hvor det skader dyrelivet, forstyrrer økosystemerne og bliver til mikroplast, som vi i stigende grad finder i vores fødevarer, drikkevand og luften, vi indånder.</p>
    </div>

    <div class="">
        <h4 class="font-[campton-xb] text-sort950 text-xl">Sundhedsrisici for mennesker</h4>
        <p class="font-[tiempos] text-sort950 text-lg">Plastikforureningen er et voksende problem, og mange steder mangler der både viden, ressourcer og systemer til at bekæmpe det effektivt.</p>
    </div>
</div>

<div class="font-[oliver] text-sort950 text-lg">
    <p>Plastik kan skade dyrene på mange måder.</p>
</div>
</section>